# Github Push-Pull Automation Script
push-changes.sh

# Upcoming Codes
3-Sided Dice
Judo Championship


# ----------------------------------------------Date Specific Upcoming Codes--------------------------------------------------------------

# 23-06
Natjecanje
Geppetto

# 24-06
Class Picture
Knitpicking

# 25-06
Champerowne Count

# 26-06

# 27-06

# 28-06

# 29-06

# 30-06